.Day {
    height: 6.5rem;
    border: 1px solid rgb(19, 17, 17);
}

.Date {
    font-size: 1.8rem;
}

.Day.Event, Day.Today {
    color: #fff;
}

.Today {
    background-color: #1DB1FF;
    color: #fff;
}

.Today:before {
    content: "Today";
}

.Event {
    background-color: #263146;
    cursor: pointer;
}

.Event:before {
    content: "Event";
}

.Event.Today {
    background: linear-gradient(to left,#263146, #1DB1FF);
}

.Event.Today:before {
    content: "Event Today"
}

a, a:visited, a:active, a:hover {
    color: #fff;
}

.MuiCard-root {
    margin: .25rem;
}
