.Day {
    height: 6.5rem;
    border: 1px solid rgb(19, 17, 17);
}

.Date {
    font-size: 1.8rem;
}

.Today {
    background-color: rgb(58, 189, 189); 
}

.Today:before {
    content: "Today";
}

.Event {
    background-color: rgb(173, 37, 37);
}

.Event:before {
    content: "Event";
}

.Event.Today {
    background: linear-gradient(to left, rgb(58, 189, 189), rgb(173, 37, 37));
}

.Event.Today:before {
    content: "Event Today"
}

a, a:visited, a:active, a:hover {
    color: #fff;
}

.MuiCard-root {
    margin: .25rem;
}
