body {
  background-color: #1DB1FF;
}
.App {
  text-align: center;
}

.Event.Open > div {
  font-size: 2rem;
}

.left {
  float: left;
  margin-right: 1.5rem;
}

.Container {
  max-width: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
}